## Assignment #1

### Question #1

 In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

* 
 'hello'
 -87.8
 - 
 / 
 +	
 6

##### Answer
\*        .......... expression <br/>
'hello'   ..........  value <br/>
-87.8   ............  value <br/>
\-        .......... expression <br/>
\/       ........... expression <br/>
\+        .......... expression <br/>
6      ............. value <br/>

### Question #2  
What is the difference between string and variable?

##### Answer
1. string - is a data type <br/>
2. variable - is a named memory location to store data

### Question #3  
Describe three different data types.

 ##### Answer
 1. integer - a whole number. A number that is not a fraction. ExampleL 5 <br/>
 2. float - a number with a decimal point <br/>
 3. string - it is a sequence of unicode characters

### Question #4  
What is an expression made up of? What do all expressions do?

##### Answer
1. An expression is a representation of a value
2. Expressions combine variables, constants, operators, and functions to create a value<br/>

### Question #5  
This assignment statements, like spam = 10. What is the difference between an expression and a statement?

##### Answer
1. An expression is a representation of a value<br/>
2. A statement does something. In this example, the value 10 is assigned to the variable spam.

### Question #6  
After running the following code, what does the variable bacon contain?<br/>
bacon = 22<br/>
bacon + 1

##### Answer
the variable bacon will contain 22, because th statement bacon + 1 will not change the value of the variable bacon

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

### Question #7
What should the values of the following two terms be? <br/>
'spam' + 'spamspam' <br/>
'spam' * 3

##### Answer
1. 'spam' + 'spamspam' will be 'spamspamspam',<br/>
2. 'spam' * 3 will be 'spamspamspam'

In [2]:
print('spam' + 'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

### Question #8  
Why is eggs a valid variable name while 100 is invalid?

##### Answer
Per Python rules, variable names cannot start with a number, but can start with a letter.

### Question #9  
What three functions can be used to get the integer, floating-point number, or string version of a value?

##### Answer

use <b>int()</b> to convert to integer <br/>
use <b>float()</b> to convert to float <br/>
use <b>str()</b> to convert to string <br/>

In [3]:
a = 10
b = '20'

print(int(b))
print(float(a))
print(str(a))

20
10.0
10

###  Question #10  
Why does this expression cause an error? How can you fix it?<br/> 
'I have eaten ' + 99 + ' burritos.'

##### Answer
1. the given expression will cause an error, because 99 is a number, not a string. A string cannot be concatenated with a number.
2. To fix this, 99 must be changed to "99" or '99'

In [4]:
print('I have eaten ' + 99 + ' burritos.')

TypeError: can only concatenate str (not "int") to str

In [5]:
print('I have eaten ' + '99' + ' burritos.')

I have eaten 99 burritos.